<h1> New Car </h1>
<%= form_tag "/cars", method: :post do %>
<br>
	Make: <input type="text" name="car_make">
<br>	
	Model: <input type="text" name="car_model">
<br>
	Color: <input type="text" name="car_color">
<br>
	Image: <input type="text" name="car_image">
<br>
	Price: <input type="text" name="car_price">
<br>
	Year: <input type="text" name="car_year">
<br>
	Milage: <input type="text" name="car_milage">
<br>
	Amenities: <input type="text" name="car_amenities">
<br>
	Financing: <input type="text" name="car_financing">
<br>
	Previous Owners: <input type="text" name="car_previous_owners">
<br>
	Country of Origin: <input type="text" name="car_origin">
<br>
	Bio: <input type="text" name="car_bio">
<br>
<input type="submit" value="create_car">
<% end %>